*,*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html,body,main,article{
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-display: block;
  color: #4C4948;
}
/**/
.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content:center;
  -moz-justify-content:center;
  -ms-justify-content:center;
  -o-justify-content:center;
  justify-content:center;
  -webkit-align-items:center;
  -moz-align-items:center;
  -ms-align-items:center;
  -o-align-items:center;
  align-items:center;
}
.nowrap{
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -o-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.reverse{
  -webkit-flex-flow: row-reverse wrap;
  -moz-flex-flow: row-reverse wrap;
  -ms-flex-flow: row-reverse wrap;
  -o-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
}
.column{
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
}
.flex-align-left{
  -webkit-align-items:flex-start;
  -moz-align-items:flex-start;
  -ms-align-items:flex-start;
  -o-align-items:flex-start;
  align-items: flex-start;
}

.flex-align-right{
  -webkit-align-items:flex-end;
  -moz-align-items:flex-end;
  -ms-align-items:flex-end;
  -o-align-items:flex-end;
  align-items: flex-end;
}
.flex-align-baseline{
  -webkit-align-items:baseline;
  -moz-align-items:baseline;
  -ms-align-items:baseline;
  -o-align-items: baseline;
  align-items: baseline;
}
.flex-align-end{
  -webkit-align-items:flex-end;
  -moz-align-items:flex-end;
  -ms-align-items:flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}
.flex-align-stretch{
  -webkit-align-items:stretch;
  -moz-align-items:stretch;
  -ms-align-items:stretch;
  -o-align-items: stretch;
  align-items: stretch;
}
.flex-between{
  -webkit-justify-content:space-between;
  -moz-justify-content:space-between;
  -ms-justify-content:space-between;
  -o-justify-content:space-between;
  justify-content: space-between;
}
.flex-evenly{
  -webkit-justify-content:space-evenly;
  -moz-justify-content:space-evenly;
  -ms-justify-content:space-evenly;
  -o-justify-content:space-evenly;
  justify-content:space-evenly;
}
.flex-justify-center{
  -webkit-justify-content:center;
  -moz-justify-content:center;
  -ms-justify-content:center;
  -o-justify-content:center;
  justify-content: center;
}
.flex-justify-left{
  -webkit-justify-content:flex-start;
  -moz-justify-content:flex-start;
  -ms-justify-content:flex-start;
  -o-justify-content:flex-start;
  justify-content: flex-start;
}
.flex-justify-right{
  -webkit-justify-content:flex-end;
  -moz-justify-content:flex-end;
  -ms-justify-content:flex-end;
  -o-justify-content:flex-end;
  justify-content: flex-end;
}
#index{
  background-image: url('../img/bg/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color:rgba(255,255,255,0.65);
  background-blend-mode:lighten;
  background-attachment:fixed;
}
img{
  width: 100%;
  height: auto;
  display: block;
}
img.wmx{
  max-width: max-content;
  margin: auto;
}
main.wrapper{
  width: 100%;
  margin: auto;
  position: relative;
}
#float{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: max-content;
  z-index: 1;
}
#float a.btn{
  width: 3rem;
  height: 3rem;
  border: 8px solid black;
  border-radius: 100%;
  background: #F2E8D7;
  margin-top: 5px;
}
#float a.btn img{
  width: 60%;
  margin: auto;
}
#float a.btn:hover{
  border-color: #004076;
  background: white;
}
section{
  width: 100%;
  margin-bottom: 2rem;
}
.inview{
  transition: all 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) ;
  transform: translateY(1rem);
  opacity: 0;
}
.inview.on{
  opacity: 1;
  transform: translateY(0);
}
.cont{
  width: 100%;
  border: 8px solid black;
  background: white;
  position: relative;
}
.block{
  padding: 1rem 2rem 3rem 2rem;
  margin-bottom: 3.5rem;
}
.block.head{
  margin-top: 6rem;
}
.block.w50{
  width: calc(50% - 1rem);
}
.beg{
  background: #F2E8D7;
}
.yel{
  background: #CFC23B;
}
.blu{
  background: #32A2AF;
}
.org{
  background: #CD9B3A;
}
.lyel{
  border-color: #CDC53C;
}
.lbeg{
  border-color: #F2E8D7;
}
section .inner{
  padding: 2.5rem 2rem;
}
h1,h2,h3,h4{
  font-size: 1.125rem;
}
p.txt{
  font-weight: 400;
  line-height: 2;
  font-size: 1.125rem;
}
.txt.center{
  text-align: center;
}
.txt.title{
  font-weight: 500;
}
img.title{
  width: 50%;
  position: absolute;
  left: 0;
  top: -3rem;
  right: 0;
  margin: auto;
}
.txt.mtop{
  margin-top: 1rem;
}
.txt.mbottom{
  margin-bottom: 1rem;
}
p.txt span{
  color: #004076;
  text-decoration: underline;
}
.arrow{
  width: 75px;
  left: 0;
  position: absolute;
  right: 0;
  margin: auto;
  bottom: calc(-76px / 1.8);
}
.step1 .subtitle{
  max-width: 60%;
  margin-top: 4rem;
}
#steps h3{
  color: #004076;
  font-size:min(4vw,1.5rem);
}
#steps .step1 h3{
  color: #932322;
  font-size:min(5vw,2rem);
}
img.number{
  max-height: 3rem;
  width: auto;
}
img.icon{
  max-height: 4rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
img.w50{
  width: 45%;
}
#fv{
  height: 100dvh;
}
#fv img{
  height: 100%;
  object-fit: cover;
}

.step1-1 .arrow.right,.step1-4 .arrow.right{
  bottom: 0;
  top: 0;
  right: calc(-76px + 1rem);
  left: inherit;
  z-index: 1;
  transform: rotate(-90deg);
}
.step1-2 .arrow.bottom,.step1-3 .arrow.bottom,.step1-5 .arrow.bottom{
  transform: rotate(45deg);
}
#faq .inner{
  padding-left: 0;
  padding-right: 0;
}
.qa{
  border-top: 4px solid black;
  margin-top: 2rem;
}
.qa h4{
  color: #004076;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.qa p.txt{
}
.qa ul{
  font-weight: 400;
  line-height: 2;
  font-size: 1.125rem;
}
.qa ul li{
  list-style: disc;
  margin-left: 1.25rem;
}
.step1-1 .subtitle,.step1-2 .subtitle{
  height: 55px;
  width: auto;
  margin: auto;
}
.step1-2 .icon{
  margin-right: -2rem;
}
.step1-3 .number{
  margin: 1rem auto;
}
.step1-3 .icon{
  position: absolute;
  right: -0.25rem;
  bottom: -0.1rem;
}
.step1-3 .flex{
  margin: 1rem 0;
}
.step1-4 .icon{
  max-height: 3rem;
}
.step1-4 .subtitle{
  width: 75%;
  margin: 1rem auto 2rem auto;
}
.step1-5 .icon{
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  max-height: inherit;
}
.step1-5 .subtitle{
  margin: 4rem auto 2rem auto;
}
.step1-6 .bg{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
}
.step1-6 .number{
  margin-left: auto;
  margin-right: auto;
}
#steps .step1-6 h3{
  color: #932322;
  font-size:min(5vw,2rem);
  position: absolute;
  right: 20%;
  bottom: 25%;
}
#contact .subtitle{
  margin-bottom: 2rem;
}
#company h4{
  margin-top: 6rem;
  color: black;
}
#company dl{
  line-height: 1.75;
  color: black;
}
#company dl dt{
  font-weight: 400;
  margin-top: 1.5rem;
}
#company dl dt:first-child{
  margin-top: 0;
}
#company dl dd{
  font-weight: 500;
}
#company  .illust{
  width: 60%;
  margin: auto;
  margin-bottom: -5rem;
}
#outro{
  margin-top: 12rem;
  padding-bottom: 4rem;
}
#outro img.title{
  top: -6rem;
}
#outro h4{
  margin-top: 8rem;
}
#outro dl{
  text-align: center;
  line-height: 1.75;
  margin-top: 2rem;
}
#outro dl dt{

}
#outro dl dd{
  line-height: 2;
}
#outro a{
  text-decoration: underline;
}
footer{
  text-align: center;
  padding-bottom: 2rem;
}
footer p{
  font-size: 0.875rem;
}
#thanks a.btn{
  background: #004076;
  color: white;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 0.5rem;
}
#slides img.slide-title{
  margin-bottom: -2rem;
  position: relative;
  z-index: 1;
  width: 85%;
}
#slides .inner{
padding-left: 0;
padding-right: 0;
}
.slides{
  padding-top: 5rem;
  padding-bottom: 2rem;
  background: white;
}
.slick-slide .thumbs{
  padding: 0 1rem;
  position: relative;
}
.slick-slide .thumbs img.before{
  margin-bottom: 1rem;
}
.slick-slide .thumbs img.after{
  margin-top: 1rem;
}
.slick-slide h6{
  text-align: center;
  margin-bottom: 0.5rem;
}
.slick-slide img.arrow{
  position: absolute;
  top: 0;
  bottom: -1.75rem;
  margin: auto;
  height: 15%;
  width: 15%;
}
.slick-dots{
  position: static;
  margin-top: 2rem;
}
.slick-initialized .slick-slide{
  opacity: 0.3;
}
.slick-initialized .slick-slide.slick-current{
  opacity: 1;
}
.slick-prev:before, .slick-next:before{
  color: black;
  font-size: 32px;
}
.slick-prev, .slick-next{
    top: calc(50% + 0.75rem);
    width: 2rem;
    height: 2rem;
    z-index: 10;
}
.slick-next{
  right: 1rem;
}
.slick-prev{
  left: 1rem;
}
@media screen and (min-width: 768px){
  main.wrapper{
    margin: auto;
  }
  section{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  section#slides{
    width: 100%;
    max-width: 100%;
  }
  #slides .inner{
    overflow: hidden;
  }
  .step1-1 .subtitle,.step1-2 .subtitle{
    height: 90px;
  }
  #float{
    position: fixed;
    bottom: 10px;
    right: 0;
    width: calc(50vw - 280px);
  }
  #float a.btn{
    width: 3.5rem;
    height: 3.5rem;
    border: 8px solid black;
    border-radius: 100%;
    background: #F2E8D7;
    margin-top: 5px;
  }
}
